body{

        margin: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #bae5f4;


}
#countlabel{
    display: block;
    font-size: 4em;
    text-align: center;
}
#btn{
    text-align: center;
}
h2{
    text-align: center; 
}
.card {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}